<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>arm curl</title>
</head>
<body>
  <h1>arm Curl</h1>
  <p>To do a biceps curl with a dumbbell, hold a dumbbell with your palm facing upward. Slowly curl the weight up by bending your elbow, keeping your elbow close to your body. Then slowly lower the weight to the starting position. You'll feel tension in the muscles in the front of your upper arm.</p>

  <img src="/static/images/concentration-curl.gif" alt="Gif feed"><br>

  <img id="videoElement" src=" " alt="Camera feed"><br>
  <button onclick="startCamera()">Start Camera</button>
  <button onclick="stopCamera()">Stop Camera</button>

  <script>
    function startCamera() {
            fetch('/start_camera')
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                    document.getElementById('videoElement').src = "{{ url_for('video') }}";
                })
                .catch(error => console.error('Error starting camera:', error));
        }

    function stopCamera() {
        fetch('/stop_camera')
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error('Error stopping camera:', error));
            document.getElementById('videoElement').src = "";
    }
  </script>
</body>
</html>
